html {
    overflow: hidden;
}

body {
    display: block;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;
    background: white;
    font-family: 'Lato', monospace;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

h1, h2, h3 {
    letter-spacing: 0.2rem;
    font-weight: 900;
}

h3, h4, h5 {
    margin: 0.5rem 0;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

h2 {
    color: #616161;
    text-align: center;
    padding-bottom: 1cm;
}

h3 {
    background-color: black;
    color: white;
    padding: 0.3rem 0.5rem;
}

h4 {
    font-size: 1em;
}

h5 {
    color: #616161;
    font-size: 1em;
}

h6 {
    color: #616161;
    margin: 0.3rem 0;
}

section {
    padding-bottom: 0.5rem;
}

main {
    display: flex;
    padding: 1rem;
}

.sectionItem {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    height: 6cm;
}

.social  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.social  li {
    flex: 0 0 33%;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer {
    background: #fff;
    font-size: 0.7rem;
    margin: 0 6rem;
}

p {
    margin: 0.5rem 0 0.5rem 0;
}

#left, #right {
    flex-grow: 1;
    flex-basis: 50%;
}

#left {
    margin-right: 2rem;
}

#right {
    margin-left: 2rem;
}

.bl {
    border-left: black 0.2rem solid;
    padding-left: 0.5rem;
}

.br {
    text-align: right;
    padding-right: 0.7rem;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0.3rem;
}

abbr[title] {
    text-decoration: none;
}

li {
    padding-left: 0.7em;
    padding-bottom: 0.3rem;
}

li svg {
    margin-right: 0.3rem;
}

#skills, p {
    padding-left: 0.5rem;
}

#skills ul {
    padding-left: 0.2rem;
}

#skills li {
    display: inline;
    padding: 0;
    margin: 0;
}

#skills li:not(:first-child):before {
    content: "/ ";
    padding: 0 0.3rem;
    font-weight: 900;
    color: #616161;
}

br {
    line-height: 1.5rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.svg-inline--fa {
    width: 16px !important;
    height: 16px !important;
}

.icon-small svg {
    width: .4em !important;
}